
@model DotNetCore.Demo.Authorization.Models.ProfileInfo;
@{
    ViewData["Title"] = "首页";
}

<div class="text-center">
    <h2>您好，当前登录用户：@Model.Name</h2>
    <h3>身份认证方式：@Model.AuthenticationType</h3>
    <h3>身份信息：</h3>
    @foreach (var item in Model.Claims)
    {
        <p>Claim type:@item.Type, Value:@item.Value</p>
    }
</div>
<div class="text-right">
    <a class="btn btn-primary" href="/User/Logout">退出</a>
</div>
